<!DOCTYPE html>
<html>
<head>
	<title><%= title ? title : "Events" %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-sup.css" />
</head>
<body>

    <div class="container text-center">
    	<img src="/images/questionMark.png" width="400" height="400" />
    	<h1>Not found.</h1>
    </div>
    
</body>
</html>