<!DOCTYPE html>
<html>
<head>
	<title><%= title ? title : "Events" %></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap-sup.css" />
</head>
<body>

    <div class="container">
    	<h2>An error occured, motherfucker.</h2>
    </div>
    
</body>
</html>