<% if (Object.keys(flash).length) { %>
	<% Object.each(flash, function(flashType, key) { %>
		<div>
			<% flashType.forEach(function(flashMessage) { %>
				<div class="alert">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  <%- flashMessage %>
				</div>
			<% }) %>
		</div>
	<% }) %>
<% } %>