<% if (Object.keys(flash).length) { %>
	<% Object.each(flash, function(flash, key) { %>
		<div class="w50 alert alert-block <%= flash.type %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= flash.title %></h4>
      <%- flash.message %>
    </div>
	<% }) %>
<% } %>