<!DOCTYPE html>
<html>
<head>
    <title><%= title ? title : "Events" %></title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-sup.css" />
</head>
<body>

    <div class="text-right" >
        <a href="/">Accueil</a>
    </div>

    <div id="logo">
        <img src="/images/logo.png" />
    </div>

    <div class="container">
    	Site pour héberger des fichiers <br />
    	Contenu effacé tous les jours à minuit GMT+00 <br />

			<a href="mailto:jeremy.gabriele@gmail.com">jeremy.gabriele [AT] gmail.com</a>
    </div>

    <script src="scripts/jquery-1.10.2.js"></script>
    <script src="scripts/bootstrap.js"></script>
</body>
</html>