<!DOCTYPE html>
<html>
<head>
    <title><%= title ? title : "Plz Upload" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-sup.css" />
</head>
<body>

    <div id="getImageInput">
        <input id="getUploadField" type="text" placeholder="abcde.jpg" />
        <input id="getUploadButton" type="button" value="Récupérer" />
    </div>

    <div id="smallUpLink" class="text-right" >
        <a href="/info"><small>What is it?</small></a>
    </div>

    <div id="content" class="content text-center">

        <% include partials/flash %>

        <img id="logo" src="/images/logo.png" />

        <div id="oldSchoolUpload" class="upload">
            <h1>Upload</h1>

            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div>
                    <input type="file" name="uploadedFile" />
                </div>
                <div>
                <input type="submit" value="Upload" />
                </div>
            </form>
        </div>

        <div id="dropUpload" class="upload">
            <div id="dropZone" class="dragout">
                <h3>Plz upload something here !</h3>
            </div>
        </div>
    </div>

    <script src="scripts/jquery-1.10.2.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/FlashMessage.js"></script>
    <script src="scripts/DropZone.js"></script>
    <script src="scripts/dragDrop.js"></script>

    <script type="text/javascript">
        $('#getUploadButton').click(function() {
            document.location.href = location.protocol + "//" + location.hostname + ":" + location.port + "/" + $('#getUploadField').val();
        });
    </script>
</body>
</html>