<!DOCTYPE html>
<html>
<head>
    <title><%= title ? title : "Plz Upload" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>

   <!--  <div id="overlay">
        <div id="progressBar" class="progress progress-striped active">
          <div id="firstPart" class="bar bar-success" style="width: 0%;"></div>
        </div>
    </div> -->

    <!-- <div id="aboutLink">
        <a href="/info"><small>What is it?</small></a>
    </div> -->

    <div id="mainContent" class="text-center">
        <div id="menuButton">
            <img src="/images/iconMenu.png" width="40" height="40">
        </div>

        <div id="centeredZone">
            <canvas id="glooty" width="600" height="400">Your browser does not support canvas ? Download a <a href="www.google.com/chrome/‎">REAL one</a> ! ;).</canvas>
            <!-- <img id="glooty" src="/images/logo.png" /> -->
        </div>

    </div>

    <nav id="menu">
        <div class="menuItemGroup">
            <span class="title">Get a file</span>
            <div id="getFile" class="textCenter">
                <input id="getUploadField" class="textCenter" type="text" placeholder="Enter file code" />
                <a id="getUploadButton" class="button" href="javascript:void(0)">Get it!</a>
            </div>
        </div>

        <div id="menuUploads" class="menuItemGroup">
            <span class="title">Uploads</span>
        </div>
    </nav>

    <script src="scripts/lib/require.js"></script>
    <script src="scripts/plzupload.js"></script>

</body>
</html>