<!DOCTYPE html>
<html>
<head>
    <title><%= title ? title : "Plz Upload" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-sup.css" />
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

    <div id="smallUpLink" class="text-left" >
        <a href="/"><small>Can't wait to use it!</small></a>
    </div>

    <div class="content text-center">

        <div class="row-fluid text-center h50">
            <div class="span12 h100">
                <img class="h100" src="/images/logo.png" />
            </div>
        </div>

        <div class="row-fluid text-center">
            <div class="offset3 span2">
                <img src="/images/logoEasy.png">
                    <h2>Simple to use</h2>
                    <p>
                        This service has been thought and designed to be extremely simple to use.<br />
                        Just drag and drop your file from your desktop to the drop zone, and instantly get the url you can share to your friends.
                    </p>
            </div>
            <div class="span2">
                <img src="/images/logoTime.png">
                    <h2>Flush every 24h</h2>
                    <p>
                        Every day at midnight (GMT+00), all the uploaded content from the day is flushed.<br />This is not a solution for long-keeping files, see it like one for ephemeral and rapid share.
                    </p>
            </div>
            <div class="span2">
                <img src="/images/logoQuestion.png">
                    <h2>3rd thing</h2>
                    <p>
                        There is always a third point in that kind of presentation. When there are three points, it's always better remembered.<br />This third point is just here to fill a gap :).
                    </p>
            </div>
        </div>
    </div>

    <script src="scripts/jquery-1.10.2.js"></script>
    <script src="scripts/bootstrap.js"></script>
</body>
</html>