@font-face { 
  font-family: 'BeautifulEveryTime'; 
  src: url('../fonts/BeautifulEveryTime.ttf'); 
}

::selection
{
    background: lightgreen;
    color: white;
    cursor: help;
}

a
{
	text-decoration: none;
}

body
{
	font-family: "Helvetica" Arial;
	font-size: 12pt;

	margin: 0;
	width: 100%;
	height: 100%;
	min-width: 250px;

	overflow: hidden;
}

html
{
	width: 100%;
	height: 100%;
}

input:focus
{
	border: none;
	box-shadow: none;
	outline: none;
}

input
{
	border: none;
	box-shadow: none;
}

a.button
{
	background-color: #F7F7F7;
	border: solid 1px black;

	color: #333;
	text-decoration: none;

	display: block;

	padding: 10px;
}

a.button:visited
{
	color: #333;
}

#aboutLink
{
	position: fixed;
	top: 1%;
	left: 1%;
	z-index: 100;
}

#overlay
{
	background: url("/images/overlay50.png");

	display: none;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;

	width: 100%;
	height: 100%;
}

#getImageInput
{
	display: table;
	position: absolute;
	top: 1%;
	left: 1%;
	z-index: 100;
}

#getImageInput > *
{
	display: table-cell;
	vertical-align: top;
	margin-right: 5px;
}

/*==================*/
/*====== Menu ======*/
/*==================*/

/*====== Headers ======*/

#menuButton
{
	position: absolute;
	right: 1%;
	top: 1%;
	z-index: 100;
}

#menuButton:hover
{
  cursor: pointer;
}

#menu
{
	background-color: rgb(255, 250, 160);
	border: 1px solid #333;

	position: absolute;
	top: 0;
	right: -202px;
	overflow-y: scroll;

	width: 200px;
	height: 100%;
	z-index: 200;
}

#menu input
{
	text-align: center;
	border-right: solid 1px black;
	outline: black;

	font-size: inherit;

	margin: 0;
	width: 200px;
	height: 30px;
}

#menu a.button
{
	border-left: none;
	width: 180px;
}

.menuItemGroup
{
	background-color: #333;

	display: block;

	color: #F7F7F7;
	text-decoration: none;

	margin-bottom: 50px;
	width: 100%;
}

.menuItemGroup .title
{
	display: block;

	text-align: center;
	font-size: 16pt;
	/*text-indent: 28px;*/
	line-height: 20px;

	padding-top: 10px;
	padding-bottom: 10px;
}

.menuItemGroup .speech, .menuItemGroup ul
{
	font-size: 10pt;
	padding: 0px;
	margin: 0px;
}

.menuItemGroup .speech
{
	padding-bottom: 10px;
}

.menuItemGroup li
{
	border-top: 1px solid #555;
	background-color: blue;

	list-style-type: none;
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
	line-height: 40px;

	padding: 0px;
	width: 185px;
	height: 40px;
}

.menuItemGroup li.first
{
	background-color: rgb(178, 178, 255);
	color: #333;
}

.menuItemGroup li.second
{
	background-color: rgb(255, 126, 126);
	color: #333;
}

.menuItemGroup li.third
{
	background-color: rgb(136, 255, 212);
	color: #333;
	border-bottom: 1px solid #555;
}

#getFile
{
	overflow: hidden;
}

#FBLogin::before, #FBLogout::before
{
	content: url('/images/logoFBLogin25.png');

	vertical-align: -20%;

	margin-right: 5px;
}

#FBLogout::before
{
	content: url('/images/logoFBLogout25.png');
}

#FBLogin, #FBLogout
{
	cursor: pointer;
}

#FBLogin:hover
{
	background-color: #555;
}

/*====== Uploads ======*/

.upload
{
	font-size: 10pt;
	padding: 10px 5px;
}

.upload .uploadName
{
	font-weight: bold;
	font-size: 11pt;
}

.upload progress
{
	background-color: blue;
	border: solid 1px green;

	margin-right: 7px;
	height: 20px;
	width: 130px;
}

.upload progress-bar
{
	background-color: red;
	border: solid 1px yellow;

	height: 20px;
	width: 150px;
}

.upload progress::-webkit-progress-bar { 
	background-color: #FFFA9B;
	border: solid 1px #9BFAFF;
}

.upload progress::-webkit-progress-value {  
	background-color: #9BFAFF;
	border: solid 1px #9BFF9B;
}

.upload progress::-moz-progress-bar { 
	background-color: red;
	border: solid 1px yellow;
}

.upload a
{
	color: #F7F7F7;
}
/*==================*/
/*====== Main ======*/
/*==================*/

#mainContent
{
	background: white;
	
	position: relative;
	right: 0%;

	width: 100%;
	height: 100%;
	z-index: 10;
}

#centeredZone
{
	text-align: center;

  position: absolute;
  top: 40%;
  left: 50%;
	margin: -200px 0px 0px -300px;
}

#centeredZone > *
{
	display: block;
	margin: auto;
}

#glooty
{

}

/*.dragover
{
	color: green;
	filter: blur(2px);
	-webkit-filter: blur(2px);
  transition: filter 1000ms;
}

.dragout
{
	color: #555;
  transition: border 200ms;
}*/

.textCenter
{
	text-align: center;
}