<!DOCTYPE html>
<html>
<head>
	<title>403 - Forbidden</title>
  <link rel="stylesheet" type="text/css" href="/build/style.css" />
</head>
<body>

    <div class="container-center">
    	<img src="/images/403.gif" width="600" height="400" />
    	<h1>403 - Forbidden</h1>
    	<h2>You do not have rights to access this file</h2>
    </div>
    
</body>
</html>