<!DOCTYPE html>
<html>
<head>
	<title>404 - Not found</title>
  <link rel="stylesheet" type="text/css" href="/build/style.css" />
</head>
<body>

    <div class="container-center">
    	<img src="/images/404.gif" width="600" height="400" />
    	<h1>404 - Not found.</h1>
    </div>
    
</body>
</html>