@font-face { 
  font-family: 'BeautifulEveryTime'; 
  src: url('../fonts/BeautifulEveryTime.ttf');
}

@font-face { 
  font-family: 'ChinaCat'; 
  src: url('../fonts/chinacat.ttf');
}


@font-face { 
  font-family: 'RobotoRegular'; 
  src: url('../fonts/RobotoRegular.ttf');
}

@font-face { 
  font-family: 'RobotoLight'; 
  src: url('../fonts/RobotoLight.ttf');
}


::selection
{
    background: #f23232;
    color: white;
    cursor: help;
}

a
{
	text-decoration: none;
}

body
{
	font-family: RobotoRegular, wf_segoe-ui_normal, Tahoma, Verdana, "Helvetica" Arial;
	font-size: 12pt;

	margin: 0;
	width: 100%;
	height: 100%;
	min-width: 250px;

	overflow: hidden;
}

html
{
	width: 100%;
	height: 100%;
}

input:focus
{
	border: none;
	box-shadow: none;
	outline: none;
}

input
{
	border: none;
	box-shadow: none;
}

a.button
{
	background-color: #F7F7F7;
	border-top: solid 1px black;

	color: #333;
	text-decoration: none;

	display: block;

	padding: 10px;
}

a.button:visited
{
	color: #333;
}

footer
{
	font-size: 15pt;
	font-family: "ChinaCat";
	font-weight: bold;
	font-style: oblique;

	position: absolute;
	bottom: 5pt;
	left: 10pt;

	width: 100%;
	z-index: 1000;
}

#aboutLink
{
	position: fixed;
	top: 1%;
	left: 1%;
	z-index: 100;
}

#overlay
{
	background: url("/images/overlay50.png");

	display: none;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;

	width: 100%;
	height: 100%;
}

#getImageInput
{
	display: table;
	position: absolute;
	top: 1%;
	left: 1%;
	z-index: 100;
}

#getImageInput > *
{
	display: table-cell;
	vertical-align: top;
	margin-right: 5px;
}

/*==================*/
/*====== Menu ======*/
/*==================*/

/*====== Headers ======*/

#menuButton
{
	position: absolute;
	right: 1%;
	top: 1%;
	z-index: 2000;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 120px;
}

#menuButton:hover
{
  cursor: pointer;
}

#menu
{
	background-color: white; /*rgb(200, 230, 255);*/
	border-left: 2px solid #333;

	display: none;

	position: absolute;
	top: 0;
	right: -250px;
	overflow: auto;

	width: 250px;
	height: 100%;
	z-index: 200;
}

#menu input
{
	text-align: center;
	border-right: solid 1px black;
	outline: black;

	font-size: inherit;

	margin: 0;
	width: 100%;
	height: 30px;
}

#menu a.button
{
	border-left: none;
	width: 100%;
}

.menuItemGroup
{
	background-color: black; /*#FFDC9D;*/
	color: white;

	border-top: 2px solid #333;
	border-bottom: 2px solid #333;

	display: block;

	text-decoration: none;

	margin-bottom: 50px;
	width: 100%;
}

.menuItemGroup:first-child
{
	border-top: none;
}

.menuItemGroup .title
{
	display: block;

	text-align: center;
	font-family: RobotoLight;
	font-size: 18pt;
	/*text-indent: 28px;*/
	line-height: 20px;

	padding-top: 10px;
	padding-bottom: 10px;
}

.menuItemGroup .speech, .menuItemGroup ul
{
	font-size: 10pt;
	padding: 0px;
	margin: 0px;
}

.menuItemGroup .speech
{
	padding-bottom: 10px;
}

.menuItemGroup li
{
	border-top: 1px solid #555;
	background-color: white;
	color: black;
	
	overflow: hidden;

	list-style-type: none;
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
	line-height: 40px;

	padding: 0px;
	width: 100%;
	height: 40px;
}


#getFile
{
	overflow: hidden;
}

#getUploadButton
{
	display: none;
	font-size: 13pt;
}

#FBLogin::before, #FBLogout::before
{
	content: url('/images/logoFBLogin25.png');

	vertical-align: -20%;

	margin-right: 5px;
}

#FBLogout::before
{
	content: url('/images/logoFBLogout25.png');
}

#FBLogin, #FBLogout
{
	cursor: pointer;
}

/*====== Uploads ======*/

.upload
{
	font-size: 10pt;
}

.upload > *
{
	width: 100%;
	line-height: 25px;
	width: 100%;
}

.upload .uploadHeader
{
	background: black;
	color: white;

	font-weight: bold;
	font-size: 12pt;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;

	height: 25px;
}

.upload .uploadCode
{
	background: white;
	color: black;

	position: relative;

	font-weight: bold;
	font-size: 11pt;
	padding-left: 3%;

	width: 97%;
}

.uploadCode .uploadButton
{
	position: absolute;
	top: 10px;
}

.uploadCode .uploadButton.copyButton
{
	background: url('/images/iconCopy.png') no-repeat;
	right: 75px;

	width: 20px;
	height: 20px;
}

.uploadCode .uploadButton.deleteButton
{
	background: url('/images/iconDelete.png') no-repeat;
	right: 10px;

	width: 25px;
	height: 19px;
}

.uploadCode .uploadButton.protectButton, .uploadCode .uploadButton.protectButton.disabled
{
	background: url('/images/iconProtect.png') no-repeat;
	right: 45px;

	width: 20px;
	height: 20px;
}

.uploadCode .uploadButton.protectButton.disabled
{
	opacity: 0.4;
}

.uploadCode .uploadButton:hover
{
	cursor: pointer;
}

.upload .uploadCode, .upload .uploadProgress, .upload progress
{
	height: 40px;
	line-height: 40px;
}

.upload .uploadProgress {
	position: relative;
}

.uploadProgress progress
{
	background-color: white;
	border: 0;

	width: 100%;
}

.uploadProgress .progressValue
{
	color: black;
	font-size: 16pt;
	font-family: "ChinaCat";
	font-weight: bold;

	position: absolute;
	left: 50%;
}

.upload progress-bar
{
	background-color: red;
	border: solid 1px yellow;

	height: 20px;
	width: 150px;
}

.upload progress::-webkit-progress-bar { 
	background-color: white;
	border: 0;
}

.upload progress::-webkit-progress-value {  
	background-color: #f23232;
	border: 0;
}

.upload progress::-moz-progress-bar { 
	background-color: #f23232; /*fbee48, d2e5ff*/
	border: 0;
}

.upload a
{
	color: black;
	font-weight: bold;
}
/*==================*/
/*====== Main ======*/
/*==================*/

#mainContent
{
	background: white;
	
	position: relative;
	right: 0%;

	width: 100%;
	height: 100%;
	z-index: 10;
}

#centeredZone
{
	text-align: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

#centeredZone > *
{
	display: block;
	margin: auto;
}

.fb-like
{
	position: absolute;
	bottom: 10px;
	right: 10px;

	z-index: 1000;
}
/*.dragover
{
	color: green;
	filter: blur(2px);
	-webkit-filter: blur(2px);
  transition: filter 1000ms;
}

.dragout
{
	color: #555;
  transition: border 200ms;
}*/

.textCenter
{
	text-align: center;
}



/* Tutorial */

#tutorial
{
	position: absolute;
	z-index: 100;

	display: none;

	font-family: "ChinaCat";
	font-size: 1.5em;
}

#tutorial > *
{
	position: absolute;
}

#tutorial > img
{
	opacity: 0;
}

#tutorial > p
{
	background: white;
	top: 60px;
	left: 100px;
	
	text-align: justify;

	width: 300px;
}

/* Notice */

#notice
{
	display: none;

	text-align: center;

	position: relative;
	top: 70%;

	width: 100%;
	min-width: 500px;
	height: 30%;
	z-index: 1000;
}

#notice .content
{
	background: white;

	position: relative;
	display: inline-block;

	font-size: 18pt;
	font-family: ChinaCat;

	vertical-align: middle;

	margin: auto;

	padding: 20px;
	min-width: 400px;
	width: 50%;
	min-height: 15%;
	z-index: 1000;
}

.button:hover
{
	cursor: pointer;
}

.underlined
{
	text-decoration: underline;
}

.oblique
{
	font-style: oblique;
}

.colored
{
	color: #f23232;
}



/* UI Tooltip */

.ui-tooltip
{
	z-index: 10000;
	max-width: 220px;
}

.ui-tooltip-content
{
	background: black;
	color: white;

	font-size: 10pt;
	font-family: 

	border: solid 1px #f23232;
	border-radius: 1px;

	padding: 10px;
}

.ui-tooltip-content .title
{
	display: inline-block;

	font-size: 11pt;
	font-weight: bold;

	margin-bottom: 5px;
}

.ui-tooltip-content .content
{
	text-align: 'justify';
	margin: 0;
}

/* Error pages */

.container-center
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	width: 600px;
	height: 600px;
}

.container-center h1, .container-center h2
{
	font-family: "ChinaCat";
	text-align: center;
	font-size: 36pt;

	margin: 0;
}

.container-center h2
{
	font-size: 20pt;
}


/* Browsers */

#browsers
{
	margin-top: 5%;
	width: 100%;
}


#browsers > *
{
	display: inline-block;
	width: 49%;
	text-align: center;
}