
%titleText {
	font-family: "ChinaCat";
	text-align: center;

	margin: 0;
}

.container-center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	width: 600px;
	height: 600px;

	h1 {
		@extend %titleText;
		font-size: 36pt;
	}

	h2 {
		@extend %titleText;

		font-size: 20pt;
	}
}