@font-face { 
  font-family: 'BeautifulEveryTime'; 
  src: url('../fonts/BeautifulEveryTime.ttf');
}

@font-face { 
  font-family: 'ChinaCat'; 
  src: url('../fonts/chinacat.ttf');
}


@font-face { 
  font-family: 'RobotoRegular'; 
  src: url('../fonts/RobotoRegular.ttf');
}

@font-face { 
  font-family: 'RobotoBold'; 
  src: url('../fonts/RobotoBold.ttf');
}

@font-face { 
  font-family: 'RobotoLight'; 
  src: url('../fonts/RobotoLight.ttf');
}