#menuButton {
	position: absolute;
	right: 1%;
	top: 1%;
	z-index: 2000;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 120px;

	&:hover {
	  cursor: pointer;
	}
}

#menu {
	background-color: white; /*rgb(200, 230, 255);*/
	border-left: 2px solid #333;

	display: none;

	position: absolute;
	top: 0;
	right: -250px;
	overflow: auto;

	width: 250px;
	height: 100%;
	z-index: 200;

	input {
		text-align: center;
		border-right: solid 1px black;
		outline: black;

		font-size: inherit;

		margin: 0;
		width: 100%;
		height: 30px;
	}

	a.button {
		border-left: none;
		width: 100%;
	}

	.menuItemGroup {
		background-color: black; /*#FFDC9D;*/
		color: white;

		border-top: 2px solid #333;
		border-bottom: 2px solid #333;

		display: block;

		text-decoration: none;

		margin-bottom: 50px;
		width: 100%;

		&:first-child {
			border-top: none;
		}

		.title {
			display: block;

			text-align: center;
			font-family: RobotoLight;
			font-size: 18pt;
			/*text-indent: 28px;*/
			line-height: 20px;

			padding-top: 10px;
			padding-bottom: 10px;
		}

		.speech {
			font-size: 10pt;
			padding: 0px;
			margin: 0px;
			padding-bottom: 10px;
		}

		ul {
			font-size: 10pt;
			padding: 0px;
			margin: 0px;

			li {
				border-top: 1px solid #555;
				background-color: white;
				color: black;
				
				overflow: hidden;

				list-style-type: none;
				text-align: center;
				font-size: 9pt;
				font-family: RobotoBold;
				line-height: 40px;

				padding: 0px;
				width: 100%;
				height: 40px;
			}
		}
	}
}

#getFile {
	overflow: hidden;

	#getUploadButton {
		display: none;
		font-size: 13pt;
	}
}


#FBLogin::before, #FBLogout::before {
	content: url('/images/logoFBLogin25.png');

	vertical-align: middle;
	margin-right: 5px;
}

#FBLogout::before {
	content: url('/images/logoFBLogout25.png');
}

#FBLogin, #FBLogout {
	cursor: pointer;
}

/*====== Uploads ======*/

.upload {
	font-size: 10pt;

	> * {
		width: 100%;
		line-height: 25px;
		width: 100%;
	}

	.uploadHeader {
		background: black;
		color: white;

		font-family: RobotoBold;
		font-size: 12pt;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;

		height: 25px;
	}

	%height40 {
		height: 40px;
		line-height: 40px;
	}

	.uploadCode {

		@extend %height40;

		background: white;
		color: black;

		position: relative;

		font-family: RobotoBold;
		font-weight: bold;
		font-size: 11pt;
		padding-left: 3%;

		width: 97%;

		a {
			color: black;
			text-transform: uppercase;
			font-family: RobotoBold;
			font-weight: bold;
			font-size: 10pt;

			border-bottom: 2px solid $red;
		}
	}

	.uploadButton {
		position: absolute;
		top: 10px;

		&.copyButton {
			right: 75px;
		}

		&.deleteButton {
			right: 10px;
		}

		&.protectButton {
			right: 45px;
		}
	}

	&:hover {
		cursor: pointer;
	}

	.uploadProgress {
		@extend %height40;
	
		position: relative;

		progress-bar {
			background-color: red;
			border: solid 1px yellow;

			height: 20px;
			width: 150px;
		}

		progress {
			@extend %height40;
			
			background-color: white;
			border: 0;

			width: 100%;

			&::-webkit-progress-bar { 
				background-color: white;
				border: 0;
			}

			&::-webkit-progress-value {  
				background-color: $red;
				border: 0;
			}

			&::-moz-progress-bar { 
				background-color: $red; /*fbee48, d2e5ff*/
				border: 0;
			}
		}

		.progressValue {
			color: black;
			font-size: 16pt;
			font-family: RobotoBold;

			position: absolute;
			left: 50%;
		}
	}
}