/* Notice */

#notice
{
	display: none;
	background: white;

	text-align: center;
	font-size: 18pt;
  font-family: ChinaCat;

	position: absolute;
	bottom: 0;

	width: 100%;
	min-width: 500px;
	height: 20%;
	min-height: 200px;
	z-index: 1000;

	border-top: 3px black solid;
  padding: 10px;

  .content {
		display: inline-block;

		width: 70%;
	}
}