#tutorial
{
  position: absolute;
  z-index: 100;

  display: none;

  font-family: "ChinaCat";
  font-size: 1.5em;
}

#tutorial > *
{
  position: absolute;
}

#tutorial > img
{
  opacity: 0;
}

#tutorial > p
{
  background: white;
  top: 60px;
  left: 100px;
  
  text-align: justify;

  width: 300px;
  border: 3px black solid;
  padding: 10px;
}