<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title ? title : "Plz Upload" %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plzupload - Easy and fun upload for anything" />
    <link rel="stylesheet" type="text/css" href="build/style.css" />
</head>
<body>

   <!--  <div id="overlay">
        <div id="progressBar" class="progress progress-striped active">
          <div id="firstPart" class="bar bar-success" style="width: 0%;"></div>
        </div>
    </div> -->

    <!-- <div id="aboutLink">
        <a href="/info"><small>What is it?</small></a>
    </div> -->

    <div id="mainContent" class="text-center">
        <div id="menuButton">
            <img src="/images/iconMenu.png" alt="=" width="40" height="40">
        </div>


        <div id="notice">
            <div class="dialog">
                <!-- <span class="title">Error title</span> -->
                <p class="content">
                    This is an error message.<br />
                    Please do not do it again. It's bad.<br /><br />
                    You can <span class="textButton colored underlined">login with Facebook</span> to enjoy fully plzUpload experience!
                </p>
                <!-- <span id="closeButton" class="textButton">X</span> -->
            </div>
        </div>

        <div id="centeredZone">
            
        </div>

    </div>

    <nav id="menu">
        <div class="menuItemGroup">
            <span class="title">Get a file</span>
            <div id="getFile" class="textCenter">
                <input id="getUploadField" class="textCenter" type="text" placeholder="Enter file code" />
                <a id="getUploadButton" class="button" href="javascript:void(0)">Get it!</a>
            </div>
        </div>

        <div id="facebookLogin" class="menuItemGroup">
            <span id="FBLogin" class="title">Login</span>
            <p class="speech textCenter">
                Login with Facebook and instantly get benefits of :
            </p>
            <ul>
                <li>Unlimited downloads in parallel</li>
                <li>Unlimited lifetime of uploads</li>
                <li>Access to uploads history</li>
            </ul>
        </div>

        <div id="facebookLogout" class="menuItemGroup">
            <span id="FBLogout" class="title">Logout</span>
        </div>

        <div id="menuUploads" class="menuItemGroup">
            <span class="title">Uploads</span>
            <p class="speech textCenter">
                Feed Glooty with a file from your computer, and start uploading it!
            </p>
            <div id="allUploads"></div>
        </div>
    </nav>

    <div id="tutorial">
        <img src="/images/iconDrag.png">
        <p>Drag&Drop a file from your desktop to this page</p>
    </div>

    <footer>
        Graphics by <a href="http://eyoha.deviantart.com/" target="_blank">Eyoha</a>
    </footer>

    <script src="build/libs.js"></script>
    <script src="build/app.js"></script>

</body>
</html>