<!DOCTYPE html>
<html>
<head>
    <title>Wrong browser</title>
  <link rel="stylesheet" type="text/css" href="/build/style.css" />
</head>
<body>

    <div class="container-center">
        <img src="/images/403.gif" width="600" height="400" />
        <h1>Wrong browser</h1>
        <h2>Your browser is not adapted to PlzUpload, please download one of these</h2>
        <div id="browsers">
            <a href="https://www.google.com/intl/fr_fr/chrome/browser/">
                <img src="https://www.google.com/intl/fr/chrome/assets/common/images/chrome_logo_2x.png" />
            </a>
            <a href="http://www.mozilla.org/fr/firefox/new/">
                <img src="http://mozorg.cdn.mozilla.net/media/img/firefox/new/header-firefox.png?2013-06" />
            </a>
        </div>
    </div>
    
</body>
</html>